@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@500&display=swap');

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

head {
    
}

header .banner {
    background-image: url(../img/photo_for_background.png);
    min-height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 

body {
    max-width: 980px;
    margin: auto;
}

h1 {
    text-transform: uppercase;
    font-family: 'Rokkitt', serif;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
}

h2, h3 {
    text-transform: uppercase;
    font-family: 'Rokkitt', serif;
}

img {
    max-width: 300px;
}
header nav .menu-items a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 3px;
}

.menu-items a:hover {
    border-color: 
}
