@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat:wght@700&display=swap');

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Caveat', cursive;
    --main-color: white;
    --accent-color: rgb(150, 120, 120);
}

header nav .logo-image {
    max-width: 100px;
    /* justify-content: center;
    align-items: center;
    overflow: hidden;  */
    align-items: center;
    /* margin-top: -70%;
    margin-bottom: -10%; */
    padding: 100px;
}

#menu {
    background-image: url(../img/photo_for_background.png);
    min-height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}