@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat:wght@700&display=swap');

:root{
    font-family: 'Caveat', cursive;
    --main-color: white;
    --accent-color: rgb(150, 120, 120);
}

body{
    max-width: 1200px;
    margin: auto;  
}

/* @media (max-width) */
.logo-menu-banner {
    display: flex;
    width: 100%;
    align-items: center;
    margin: auto;
}

.logo-image {
    display: block;
    margin: auto;
    max-width: 100px;
    /* margin-top: -60px; */
    /* margin-bottom: 5px; */
}

.burger-icon{
    color: black; 
    font-weight: bold;
    font-size: 30px;
    margin-right: auto;   
}

#burger-checkbox{
    display: none;
}
header nav .menu-items{
    display: none;
}
header nav input:checked ~ .menu-items{
    display: block;
}
header nav .menu-items a{
    display: block;
    font-family: 'Caveat', cursive;
    text-decoration: none;
    text-align: center;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 10px;
}

.menu-items > a:hover {
    border: 1px solid var(white);
    color: rgb(255, 174, 0);
}

.menu-items {
    text-transform: uppercase;
    font-family: 'Caveat';
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 100px;
}

.menu-items > a {
    text-decoration: none;
    color: white;
}


/* header nav {
    /* display: flex; */
    /* padding-top: 30px; */
    /* margin: 0px 30px 0px 0px; 
} */

@media (min-width: 769px){
    header nav .menu-items{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex: 1;
        font-family: 'Caveat', cursive;
        text-decoration: none;
        font-weight: bold;
        color: var(--main-color);
        border: 1px solid transparent;
    }
    .burger-icon{
        display: none;
    }

    .logo-menu-banner {
       display: flex;
       width: auto;
       margin: auto;
    }

    .logo-image {
        display: block;
        margin: auto;
        /* max-width: 20%; */
        /* width: 80%; */
        margin-top: -20px;
        /* margin-bottom: 5px; */
    }

    #home {
        display: flex;
    }
}

nav {
    padding: 5px, 5px, 5px, 10px;
}

#home {
    background-image: url(../img/photo_for_background.png);
    min-height: 400px;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    font-family: 'Caveat', cursive;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    filter: brightness(90%)
}

h1 {
    text-transform: uppercase;
    font-family: 'Rokkitt', serif;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Caveat', cursive;
}

/* h3,  */
h4 {
    font-size: 1.5rem;
    font-family: 'Caveat', cursive;
    text-align: center;
}

.vizit-card img{
    display: block;
    margin: auto;
    width: 100%;
}

/* .vizit-card img{
    display: block;
    margin: auto;
    width: 100%;
} */

.callback-form {
    background-image: url(../img/gallery2.jpg);
    width: 100%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
.input {
    width: 100%;
  }
  
.callback-form__wrapper {
    background: rgba(255, 255, 255, 0.4);
    padding: 90px 0;
    align-content: center;
  }
  
.callback {
    background-color: #fff;
    max-width: 570px;
    margin: 0 auto;
    padding: 45px 85px;
  }
  
.callback h2 {
    text-align: center;
  }
  
  
.callback-text {  
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--main-color);
    letter-spacing: 1.1px;
    margin-bottom: 30px;
  }
  
.callback-label {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--main-color); 
    width: 100%;
  }
  
.contacts-location {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--main-color);
  }
  
.contacts-link {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--second-color);
  }

.btn-btn-primary{
    width: 101%;
}

footer{
  text-align: center;
  font-size: 10px;
}
  
.clock {
    display: inline;
    align-items: flex-end;
}

@-webkit-keyframes pulsate {
    50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}
@keyframes pulsate {
    50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}
#blink7 {
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    background: rgb(5, 7, 5);
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
    margin: 0em;
    text-transform: none;
    font-size: 2.5rem;
}

.location p {
    text-align: center;
}