@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@500&display=swap');

h1, h2, h3 {
    margin: 0;
    padding: 0'
}

h1 {
    text-transform: uppercase;
    font-family: 'Rokkitt', serif;
    font-size: 2.5rem;
    text-align: center;
}

img {
    max-width: 300px;
}